auth-service/node_modules/
auth-service/dist/
auth-service/.env

order-service/node_modules/
order-service/dist/
order-service/.env

restaurant-service/node_modules/
restaurant-service/dist/
restaurant-service/.env


delivery-service/node_modules/
delivery-service/dist/
delivery-service/.env